/* categorieBox */

.categorieBox {
  transition: all 0.3s;
}

.categorieBox:hover h5 {
  color: #212d45;
}

.categorieBox:hover {
  background-color: white;
  transform: scale(1.04);
}

/* Nevs */

.nevs {
  width: 100%;
  margin-bottom: 40px;
}

.nevs__card {
  width: 30%;
  padding: 10px;
  background-color: #0f1624;
}

.nevs div h3 {
  color: #0f1624;
}

.nevs__card--box {
  background-color: #0f1624;
  width: 100%;
  position: relative;
  height: 210px;
  transition: all 0.4s;
  text-align: left;
  padding: 20px 10px;
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, 0.4) 0px 2px 4px,
    rgba(255, 255, 255, 0.3) 0px 7px 13px -3px,
    rgba(255, 255, 255, 0.2) 0px -3px 0px inset;
  overflow: hidden;
}

.nevs div p {
  color: white;
  line-height: 32px;
  height: 120px;
  overflow: hidden;
}

.nevs__card--box:hover {
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.nevs__card--box:hover p {
  color: #0f1624;
}

.nevs__card--box button {
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 5px 10px;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  color: #0f1624;
  cursor: pointer;
}

.nevs__card--box:hover button {
  background-color: #0f1624;
  color: white;
}
